/* GLOBAL */
html, body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* HOME PAGE */
.home-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0;
}

.home-page .container img {
  width: 100%;
  display: block;
}

.left-link {
  position: absolute;
  top: 13%;
  left: 16%;
  width: 130px;
  height: 250px;
  rotate: -47deg;
}

.right-link {
  position: absolute;
  top: 14%;
  right: 15%;
  width: 130px;
  height: 300px;
  rotate: 45deg;
}

/* HOME BUTTON */
.home-button {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 100;
}

.home-button img {
  width: 200px;
}
/* VIDEO PAGE SIMPLE RESET */

.videos-page {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 100;
}

.home-button img {
  width: 160px;
}

/* ONE STAGE CONTROLS EVERYTHING */
.stage {
  position: relative;
  width: 760px;      /* CHANGE WHOLE VIDEO AREA SIZE HERE */
}

/* GATE */
.gate-img {
  width: 100%;
  display: block;
}

/* PLAYER */
#player {
  display: none;
  position: relative;
  width: 100%;
}

#videoPlayer {
  position: absolute;
  top: 33%;
  left: 32%;
  width: 36%;
  height: 38%;
  border: none;
  z-index: 20;
}

/* KEY IMAGES */
.left-keys {
  position: absolute;
  width: 100px;      /* LEFT KEYS SIZE */
  left: -90px;       /* LEFT KEYS LEFT/RIGHT */
  top: 10px;        /* LEFT KEYS UP/DOWN */
  z-index: 5;
  pointer-events: none;
}

.right-keys {
  position: absolute;
  width: 190px;      /* RIGHT KEYS SIZE */
  right: -90px;      /* RIGHT KEYS LEFT/RIGHT */
  top: 160px;        /* RIGHT KEYS UP/DOWN */
  z-index: 5;
  pointer-events: none;
}

/* INVISIBLE CLICK AREAS */
.video-key {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

/* adjust these later only if needed */
.key1 { top: 14%; right: 4%; width: 14%; height: 20%; }
.key2 { top: 72%; left: -8%; width: 20%; height: 8%; }
.key3 { top: 46%; right: -7%; width: 13%; height: 18%; }
.key4 { top: 75%; right: 3%; width: 15%; height: 13%; }
.key5 { bottom: 7%; left: 28%; width: 12%; height: 7%; }
.key6 { top: 37%; left: -10%; width: 24%; height: 13%; }
