body {
  margin: 250px auto;
}

.container {
  position: relative;
  width: 90%;          /* makes it larger */
  max-width: 1200px;   /* allows bigger than before */
  margin: 80px auto;   /* THIS centers + pushes down */
}

/* THIS fixes your “image too big” problem */
.container img {
  width: 100%;     /* scales image down */
  height: auto;
  display: block;
}

/* clickable areas */
.left-link,
.right-link {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.left-link {
  left: 0;
}

.right-link {
  right: 0;
}

.home-button {
  position: fixed;
  top: 40px;   /* pushes it down (~1cm feel) */
  left: 40px;  /* margin from left */
  z-index: 10;
}

.home-button img {
  width: 250px;  
}

/* PAGE */
.video-page {
  position: relative;
   width: 100%;
  max-width: 1400px;
  margin: 80px auto;
}



/* CLOSED GATE IMAGE */
.video-menu {
  width: 100%;
  display: block;
}

.video-key {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.key1 { top: 15%; right: 9%; width: 12%; height: 20%; } /* naff video 3*/

.key2 { top: 71%; left: 5%; width: 16%; height: 7%; } /* hardpill lineup */

.key3 { top: 46%; right: 7%; width: 9%; height: 18%; }  /* 500,000 */

.key4 { top: 75%; right: 14%; width: 11%; height: 13%; } /* PYK Cowboys */

.key5 { bottom: 7%; left: 28%; width: 12%; height: 7%; } /* toothgems */

.key6 { top: 37%; left: 4%; width: 20%; height: 13%; } /* colour grading + moving castle */

/* PLAYER MODE */
.player {
  display: none;
  position: relative;
  width: 100%;
}

/* OPEN GATE IMAGE */
.playing-img {
  width: 100%;
  display: block;
}

/* VIDEO INSIDE GATE */
#videoPlayer {
  position: absolute;
  top: 33%;
  left: 32.15%;
  width: 36%;
  height: 38%;
  border: none;
}